* {
    box-sizing: border-box;
}

body {
    
}

header {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(blue, cyan);
    color: white;
}

main {
    display: flex;
}

aside {
    flex: 30%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    flex-wrap: wrap;
}
section {
    flex: 70%;
    /* background-color: aliceblue; */
    padding: 20px;
}

.container {
    background-color: gray;
}